# Vivado project files to ignore
*.jou
*.log
*.str
*.hw
*.runs/
*.cache/
*.ip_user_files/
*.Xil/
webtalk*

# Simulation dumps
*.vcd
*.wdb
*/fpga_uart_dma/
cmd_gather_block/
cmd_execute_block/
cmd_respond_block/
reg_access_top/

